In [2]:
#imports
import pandas as pd 
from tqdm.notebook import tqdm
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df = pd.read_csv('/Users/armaan/src/bbox/mdata/final_result/master_table.csv')
df.drop(["bb_profit_multiple_score", "bb_profit_multiple"], axis=1, inplace = True)
df

,name,year,domestic_box_office,international_box_office,worldwide_box_office,opening_weekend,legs,production_budget,theater_counts,mpaa_rating,...,production_method,creative_type,production_companies,synopsis,link,tconst,poster_path,bb_profit,bb_profit_score,bb_score
0,Star Wars Ep. VII: The Force Awakens,2015,936662225,1131561399.00,2068223624.00,247966675.00,3.78,306000000.00,9.20,PG-13,...,Animation/Live Action,Science Fiction,Lucasfilm,"Rey, a scavenger from the planet Jakku, and re...",https://www.the-numbers.com/movie/Star-Wars-Ep...,tt2488496,https://image.tmdb.org/t/p/w300_and_h450_bestv...,1762223624.00,69.06,78.34
1,Avengers: Endgame,2019,858373000,1939427564.00,2797800564.00,357115007.00,2.4,400000000.00,8.10,PG-13,...,Animation/Live Action,Super Hero,Marvel Studios,The grave course of events set in motion by Th...,https://www.the-numbers.com/movie/Avengers-End...,tt4154796,https://image.tmdb.org/t/p/w300_and_h450_bestv...,2397800564.00,93.97,95.78
2,Avatar,2009,760507625,2028193712.00,2788701337.00,77025481.00,9.87,237000000.00,13.20,PG-13,...,Animation/Live Action,Science Fiction,Dune Entertainment,"Jake Sully is a wounded ex-marine, thrust into...",https://www.the-numbers.com/movie/Avatar#tab=s...,tt0499549,https://image.tmdb.org/t/p/w300_and_h450_bestv...,2551701337.00,100.00,100.00
3,Black Panther,2018,700059566,646853595.00,1346913161.00,202003951.00,3.47,200000000.00,9.90,PG-13,...,Live Action,Super Hero,Marvel Studios,"King T'Challa returns home to the reclusive, t...",https://www.the-numbers.com/movie/Black-Panthe...,tt1825683,https://image.tmdb.org/t/p/w300_and_h450_bestv...,1146913161.00,44.95,61.46
4,Avengers: Infinity War,2018,678815482,1369544272.00,2048359754.00,257698183.00,2.63,300000000.00,7.70,PG-13,...,Animation/Live Action,Super Hero,Marvel Studios,As the Avengers and their allies have continue...,https://www.the-numbers.com/movie/Avengers-Inf...,tt4154756,https://image.tmdb.org/t/p/w300_and_h450_bestv...,1748359754.00,68.52,77.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,Jumper,2008,80172128,142468684.00,222640812.00,27354808.00,2.93,82500000.00,5.00,PG-13,...,Live Action,Science Fiction,Regency Enterprises,NaN,https://www.the-numbers.com/movie/Jumper#tab=s...,tt0489099,https://image.tmdb.org/t/p/w300_and_h450_bestv...,140140812.00,5.49,33.84
886,The Mummy,2017,80101125,329852780.00,409953905.00,31668375.00,2.53,195000000.00,3.70,PG-13,...,Live Action,Historical Fiction,Universal Pictures,Thought safely entombed in a tomb deep beneath...,https://www.the-numbers.com/movie/Mummy-The-(2...,tt2345759,https://image.tmdb.org/t/p/w300_and_h450_bestv...,214953905.00,8.42,35.90
887,Jack Reacher,2012,80070736,137300000.00,217370736.00,15210156.00,5.26,60000000.00,5.00,PG-13,...,Live Action,Contemporary Fiction,Paramount Pictures,Six shots. Five dead. One heartland city throw...,https://www.the-numbers.com/movie/Jack-Reacher...,tt0790724,https://image.tmdb.org/t/p/w300_and_h450_bestv...,157370736.00,6.17,34.32
888,Goosebumps,2015,80069458,78835866.00,158905324.00,23618556.00,3.39,58000000.00,5.80,PG,...,Animation/Live Action,Fantasy,Columbia Pictures,Upset about moving from a big city to a small ...,https://www.the-numbers.com/movie/Goosebumps#t...,tt1051904,https://image.tmdb.org/t/p/w300_and_h450_bestv...,100905324.00,3.95,32.77
889,Cloverfield,2008,80048433,91253793.00,171302226.00,40058229.00,2,25000000.00,4.40,PG-13,...,Live Action,Science Fiction,Bad Robot,NaN,https://www.the-numbers.com/movie/Cloverfield#...,tt1060277,https://image.tmdb.org/t/p/w300_and_h450_bestv...,146302226.00,5.73,34.01

In [7]:
new_df = df
bins = [1980,1985,1990,1995,2000, 2005, 2010, 2015, 2020]
new_df['binned'] = pd.cut(new_df['year'], bins)
year_df = df.groupby('binned').mean()
genre_df = df.groupby('genre').mean()
genre_df
genre_df.drop(["year"], axis=1, inplace = True)
genre_df.to_csv('/Users/armaan/src/bbox/mdata/final_result/genre_table.csv')

In [81]:
genres = df.genre.unique()
dfs = []
for g in genres:
    dfgenre = df[df.genre == g]
    dfgenre['binned'] = pd.cut(dfgenre['year'], bins)
    dfgmean = dfgenre.groupby('binned').mean()
    dfgmean['genre'] = g
    dfs.append(dfgmean)
len(dfs)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

11

In [89]:
dfall = pd.concat(dfs)
dfall

,year,domestic_box_office,international_box_office,worldwide_box_office,opening_weekend,production_budget,theater_counts,running_time,bb_profit,bb_profit_score,bb_score,genre
binned,,,,,,,,,,,,
"(1980, 1985]",1983.25,231757797.75,158533030.00,390290827.75,16998671.25,24875000.00,20.25,120.50,365415827.75,14.32,40.02,Adventure
"(1985, 1990]",1988.50,139755166.00,127856761.33,267611927.33,18472157.00,38875000.00,11.57,102.17,251292951.50,9.85,36.89,Adventure
"(1990, 1995]",1993.40,175755975.50,209928116.40,385684091.90,15893766.80,46930000.00,11.40,104.30,338754091.90,13.28,39.29,Adventure
"(1995, 2000]",1998.11,154328569.89,189279137.75,343607707.64,27401027.89,86037037.04,9.48,102.77,259030215.33,10.15,37.11,Adventure
"(2000, 2005]",2002.96,206853790.61,267537736.88,474391527.49,51163974.88,99062500.00,7.97,116.38,379995563.52,14.89,40.42,Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...
"(1995, 2000]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Documentary
"(2000, 2005]",2004.00,119114517.00,102034442.00,221148959.00,23920637.00,6000000.00,6.70,121.00,215148959.00,8.43,35.90,Documentary
"(2005, 2010]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Documentary
"(2010, 2015]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Documentary
"(2015, 2020]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Documentary

In [57]:
df.to_csv('/Users/armaan/src/bbox/mdata/final_result/binned_table.csv')

In [87]:
year_df['genre'] = 'All'
year_df

,year,domestic_box_office,international_box_office,worldwide_box_office,opening_weekend,production_budget,theater_counts,running_time,bb_profit,bb_profit_score,bb_score,genre
binned,,,,,,,,,,,,
"(1980, 1985]",1983.50,220562043.90,141027081.70,361589125.60,14531277.90,19222222.22,19.25,110.40,349168615.56,13.68,39.58,All
"(1985, 1990]",1988.63,138688646.37,127782047.20,266470693.57,15745845.16,28526923.08,13.26,115.03,256474028.81,10.05,37.04,All
"(1990, 1995]",1993.28,137727894.17,164913748.00,302641642.17,20107485.47,48794000.00,10.76,120.14,271542631.90,10.64,37.45,All
"(1995, 2000]",1998.22,143967064.28,161057667.92,305024732.19,26649660.14,68549452.94,9.85,115.43,241196890.61,9.45,36.62,All
"(2000, 2005]",2002.99,156618855.72,167050421.68,323669277.41,39469736.68,76090378.19,7.55,115.40,248077344.65,9.72,36.81,All
"(2005, 2010]",2008.16,162793439.49,218233291.36,381026730.85,45123751.89,100156804.73,6.63,112.80,284596285.12,11.15,37.81,All
"(2010, 2015]",2013.03,174037264.34,279433306.26,453470570.60,51904698.66,107922751.32,6.43,117.44,345547819.28,13.54,39.48,All
"(2015, 2020]",2017.49,209563924.12,344625375.32,554189299.44,64529619.35,116895744.68,6.40,118.85,439845622.99,17.24,42.07,All

In [90]:
df_final_means = pd.concat([dfall, year_df])
df_final_means.info()

<class 'pandas.core.frame.DataFrame'>
CategoricalIndex: 96 entries, (1980, 1985] to (2015, 2020]
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      72 non-null     float64
 1   domestic_box_office       72 non-null     float64
 2   international_box_office  72 non-null     float64
 3   worldwide_box_office      72 non-null     float64
 4   opening_weekend           72 non-null     float64
 5   production_budget         71 non-null     float64
 6   theater_counts            72 non-null     float64
 7   running_time              72 non-null     float64
 8   bb_profit                 71 non-null     float64
 9   bb_profit_score           71 non-null     float64
 10  bb_score                  71 non-null     float64
 11  genre                     96 non-null     object
dtypes: float64(11), object(1)
memory usage: 9.5+ KB

In [91]:
df_final_means[]

,year,domestic_box_office,international_box_office,worldwide_box_office,opening_weekend,production_budget,theater_counts,running_time,bb_profit,bb_profit_score,bb_score,genre
binned,,,,,,,,,,,,
"(1980, 1985]",1983.25,231757797.75,158533030.00,390290827.75,16998671.25,24875000.00,20.25,120.50,365415827.75,14.32,40.02,Adventure
"(1985, 1990]",1988.50,139755166.00,127856761.33,267611927.33,18472157.00,38875000.00,11.57,102.17,251292951.50,9.85,36.89,Adventure
"(1990, 1995]",1993.40,175755975.50,209928116.40,385684091.90,15893766.80,46930000.00,11.40,104.30,338754091.90,13.28,39.29,Adventure
"(1995, 2000]",1998.11,154328569.89,189279137.75,343607707.64,27401027.89,86037037.04,9.48,102.77,259030215.33,10.15,37.11,Adventure
"(2000, 2005]",2002.96,206853790.61,267537736.88,474391527.49,51163974.88,99062500.00,7.97,116.38,379995563.52,14.89,40.42,Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...
"(1995, 2000]",1998.22,143967064.28,161057667.92,305024732.19,26649660.14,68549452.94,9.85,115.43,241196890.61,9.45,36.62,All
"(2000, 2005]",2002.99,156618855.72,167050421.68,323669277.41,39469736.68,76090378.19,7.55,115.40,248077344.65,9.72,36.81,All
"(2005, 2010]",2008.16,162793439.49,218233291.36,381026730.85,45123751.89,100156804.73,6.63,112.80,284596285.12,11.15,37.81,All
"(2010, 2015]",2013.03,174037264.34,279433306.26,453470570.60,51904698.66,107922751.32,6.43,117.44,345547819.28,13.54,39.48,All
"(2015, 2020]",2017.49,209563924.12,344625375.32,554189299.44,64529619.35,116895744.68,6.40,118.85,439845622.99,17.24,42.07,All

In [59]:
binned_table = pd.read_csv('/Users/armaan/src/bbox/mdata/final_result/master_binned_table.csv')
binned_table

,binned,domestic_box_office,international_box_office,worldwide_box_office,opening_weekend,production_budget,theater_counts,running_time,bb_profit,bb_profit_score,bb_score
0,"(1980, 1985]",220562043.90,141027081.70,361589125.60,14531277.90,19222222.22,19.25,110.40,349168615.56,13.68,39.58
1,"(1985, 1990]",138688646.37,127782047.20,266470693.57,15745845.16,28526923.08,13.26,115.03,256474028.81,10.05,37.04
2,"(1990, 1995]",137727894.17,164913748.00,302641642.17,20107485.47,48794000.00,10.76,120.14,271542631.90,10.64,37.45
3,"(1995, 2000]",143967064.28,161057667.92,305024732.19,26649660.14,68549452.94,9.85,115.43,241196890.61,9.45,36.62
4,"(2000, 2005]",156618855.72,167050421.68,323669277.41,39469736.68,76090378.19,7.55,115.40,248077344.65,9.72,36.81
5,"(2005, 2010]",162793439.49,218233291.36,381026730.85,45123751.89,100156804.73,6.63,112.80,284596285.12,11.15,37.81
6,"(2010, 2015]",174037264.34,279433306.26,453470570.60,51904698.66,107922751.32,6.43,117.44,345547819.28,13.54,39.48
7,"(2015, 2020]",209563924.12,344625375.32,554189299.44,64529619.35,116895744.68,6.40,118.85,439845622.99,17.24,42.07

In [60]:
binned_table.binned.to_list()

['(1980, 1985]',
 '(1985, 1990]',
 '(1990, 1995]',
 '(1995, 2000]',
 '(2000, 2005]',
 '(2005, 2010]',
 '(2010, 2015]',
 '(2015, 2020]']