In [12]:
#imports
import pandas as pd 
from tqdm.notebook import tqdm
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df = pd.read_csv('/Users/armaan/src/bbox/mdata/final_result/master_table.csv')
df.drop(["bb_profit_multiple_score", "bb_profit_multiple"], axis=1, inplace = True)

In [9]:
new_df = df
bins = [1980,1985,1990,1995,2000, 2005, 2010, 2015, 2020]
new_df['binned'] = pd.cut(new_df['year'], bins)
year_df = df.groupby('binned').mean()
genre_df = df.groupby('genre').mean()
genre_df
genre_df.drop(["year"], axis=1, inplace = True)
genre_df.to_csv('/Users/armaan/src/bbox/mdata/final_result/genre_table.csv')

In [18]:
genres = df.genre.unique()
dfs = []
for g in genres:
    dfgenre = df[df.genre == g]
    dfgenre['binned'] = pd.cut(dfgenre['year'], bins)
    dfgmean = dfgenre.groupby('binned').mean()
    dfgmean['genre'] = g
    dfs.append(dfgmean)
len(dfs)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

10

In [19]:
dfall = pd.concat(dfs)
dfall

,year,domestic_box_office,international_box_office,worldwide_box_office,opening_weekend,legs,production_budget,theater_counts,running_time,bb_profit,bb_profit_score,bb_score,genre
binned,,,,,,,,,,,,,
"(1980, 1985]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
"(1985, 1990]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
"(1990, 1995]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
"(1995, 2000]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
"(2000, 2005]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(1995, 2000]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Western
"(2000, 2005]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Western
"(2005, 2010]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Western
"(2010, 2015]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Western
"(2015, 2020]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,Western

In [57]:
df.to_csv('/Users/armaan/src/bbox/mdata/final_result/binned_table.csv')

In [87]:
year_df['genre'] = 'All'
year_df

,year,domestic_box_office,international_box_office,worldwide_box_office,opening_weekend,production_budget,theater_counts,running_time,bb_profit,bb_profit_score,bb_score,genre
binned,,,,,,,,,,,,
"(1980, 1985]",1983.50,220562043.90,141027081.70,361589125.60,14531277.90,19222222.22,19.25,110.40,349168615.56,13.68,39.58,All
"(1985, 1990]",1988.63,138688646.37,127782047.20,266470693.57,15745845.16,28526923.08,13.26,115.03,256474028.81,10.05,37.04,All
"(1990, 1995]",1993.28,137727894.17,164913748.00,302641642.17,20107485.47,48794000.00,10.76,120.14,271542631.90,10.64,37.45,All
"(1995, 2000]",1998.22,143967064.28,161057667.92,305024732.19,26649660.14,68549452.94,9.85,115.43,241196890.61,9.45,36.62,All
"(2000, 2005]",2002.99,156618855.72,167050421.68,323669277.41,39469736.68,76090378.19,7.55,115.40,248077344.65,9.72,36.81,All
"(2005, 2010]",2008.16,162793439.49,218233291.36,381026730.85,45123751.89,100156804.73,6.63,112.80,284596285.12,11.15,37.81,All
"(2010, 2015]",2013.03,174037264.34,279433306.26,453470570.60,51904698.66,107922751.32,6.43,117.44,345547819.28,13.54,39.48,All
"(2015, 2020]",2017.49,209563924.12,344625375.32,554189299.44,64529619.35,116895744.68,6.40,118.85,439845622.99,17.24,42.07,All

In [16]:
df_final_means = pd.concat([dfall, year_df])
df_final_means.info()

<class 'pandas.core.frame.DataFrame'>
CategoricalIndex: 88 entries, (1980, 1985] to (2015, 2020]
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   year                      37 non-null     float64
 1   domestic_box_office       37 non-null     float64
 2   international_box_office  37 non-null     float64
 3   worldwide_box_office      37 non-null     float64
 4   opening_weekend           37 non-null     float64
 5   legs                      37 non-null     float64
 6   production_budget         34 non-null     float64
 7   theater_counts            37 non-null     float64
 8   running_time              35 non-null     float64
 9   bb_profit                 34 non-null     float64
 10  bb_profit_score           34 non-null     float64
 11  bb_score                  34 non-null     float64
 12  genre                     72 non-null     object
dtypes: float64(12), object(1)
memory usage: 9.5+ KB

In [24]:
df_final_means

,year,domestic_box_office,international_box_office,worldwide_box_office,opening_weekend,legs,production_budget,theater_counts,running_time,bb_profit,bb_profit_score,bb_score,genre
binned,,,,,,,,,,,,,
"(1980, 1985]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
"(1985, 1990]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
"(1990, 1995]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
"(1995, 2000]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
"(2000, 2005]",nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(1995, 2000]",1998.22,143967064.28,161057667.92,305024732.19,26649660.14,3.78,68549452.94,9.85,109.97,241196890.61,9.45,36.62,NaN
"(2000, 2005]",2002.99,156618855.72,167047680.39,323666536.11,39469736.68,3.78,76090378.19,7.55,106.30,248074584.71,9.72,36.81,NaN
"(2005, 2010]",2008.16,162793439.49,218225832.45,381019271.94,45123751.89,3.78,100156804.73,6.63,110.00,284588649.66,11.15,37.81,NaN
"(2010, 2015]",2013.03,174037264.34,279364720.86,453401985.21,51904698.66,3.78,107922751.32,6.43,nan,345479233.88,13.54,39.48,NaN
"(2015, 2020]",2017.49,209563924.12,344661163.46,554225087.58,64529619.35,3.78,116895744.68,6.40,nan,439882134.81,17.24,42.07,NaN

In [7]:
binned_table = pd.read_csv('/Users/armaan/src/bbox/mdata/final_result/master_binned_table.csv')
binned_table

FileNotFoundError: [Errno 2] File /Users/armaan/src/bbox/mdata/final_result/master_binned_table.csv does not exist: '/Users/armaan/src/bbox/mdata/final_result/master_binned_table.csv'